/* How to Accept Admission on JAMB CAPS */
/* How to Accept Admission on JAMB CAPS */

.clTyps .callout {
  background-color: rgba(186, 85, 211, 0.1);
  border-radius: 0.8rem;
}

.guide-section { 
  background-color: var(--backgroundColorII);
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  margin-top: 2rem;
}
.guide-section a {
  color: blueviolet
}
/*
.guide-section:nth-child(even) {
  background-color: rgb(255, 243, 255);
  box-shadow: 0 0 2px #555;
  border-left: 4px solid rgba(125, 0, 125, 0.5);
}
*/
.guideTitleCell {
  margin-bottom: 1rem;
  position: sticky;
  top: 70px;
  width: 100vw;
  background-color: var(--backgroundColorII);
  z-index: 10;
}
.dark-mode .guideTitleCell {
  background-color: #000;
}
.guideTitle {
  color: #00795f;
  font-weight: 600;
  font-size: 1.5rem;
  font-family: var(--fontIII);
  font-optical-sizing: auto;
}


.step {
  margin-bottom: 2rem;
}
.stepImg {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  
}
.stepImg img {
  object-fit: cover;
  height: 350px;
  width: 280px
}
.step h4, .docH {
  margin-bottom: 0.5rem;
  font-weight: 700;
  color: darkslateblue;
  font-family: var(--fontII);
  font-optical-sizing: auto;
  font-style: normal;
}
.step p {
  margin: 0;
}
.important {
  background-color: #fff4e5;
  padding: 1rem;
  border-left: 5px solid #ffae42;
  border-radius: 8px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.button.custom, .clTyps .button, #online-clearance .button {
  background-color: rgba(0, 168, 107, 0.3);
  border-radius: 2rem !important;
  border: 2px solid green;
  border-radius: 8px;
  color: black;
  font-weight: 600;
}
.guide-section .fas {
  color: darkslateblue;
  font-size: 1.6rem
}
#warnIc {
  color: maroon
}

/*DOCUMENT GUIDE */
/* DOCUMENT GUIDE */
/*DOCUMENT GUIDE */
/* DOCUMENT GUIDE */
ul.checklist {
  list-style: none;
  padding-left: 0;
}
ul.checklist li {
  margin: 0.5rem 0;
  font-size: 1.05rem;
}
ul.checklist a {
  color: darkgreen
}
.dark-mode ul.checklist a {
  color: mediumaquamarine
}
.warning-list li {
  margin-bottom: 0.5rem;
}
.preview {
  margin-top: 1rem;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.dark-mode .preview {
  box-shadow: 0 0 10px #fff;
}
.docNm {
  position: sticky;
  z-index: 10; 
  top: 70px;
  padding: 0.5rem;
  background-color: var(--backgroundColorII);
}
.dark-mode .docNm {
  background-color: #000;
}
/*
.guide-section:nth-child(even) .docNm {
  background-color: rgb(255, 243, 255);
}

*/
.accordion-title {
  font-size: 1rem;
  font-family: var(--fontIII);
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  color: indigo;
}
.accordion-title:hover {
  color: darkcyan;
  background-color: var(--backgroundColorI);
}
.accordion-content {
  font-family: var(--fontI);
  font-variation-settings:
      "GARD" 0;
  font-optical-sizing: auto;
  font-style: normal;
}
.dark-mode #docGuide-faq .accordion-content {
  color: #fff
}

@media (min-width: 480px) {
  .guideTitleCell {
    top: 87px;
  }
  .guideTitle {
    font-size: 2.3rem;
  }
  .stepImg img {
    object-fit: cover;
    height: 250px;
    width: 200px
  }
  .docNm {
    top: 80px;
  }
}
.mustDoIc .fas, .acceptedIc{
  color: darkgreen !important;
}
.mistakesIc {
  color: RGB(250, 161, 0) !important;
}
.warning-list .fas {
  color: maroon;
}



