@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Signika:wght@300..700&family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&display=swap');

/*

.exo-2-<uniquifier> {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/

:root {
  --colorI: #000;
  --backgroundColorI: rgba(186, 85, 211, 0.07);
  --backgroundColorII: #ffffff;
  --fontI: "Signika", open-sans;
  --fontII: "Texturina", serif;
  --fontIII: "Exo 2", sans-serif;
}

html {
  font-size: 16px;
}
body {
  width: 100vw;
  background-color: var(--backgroundColorI);
}
header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: rgb(255, 243, 255);
}
main {
  margin-top: 9rem;
}
p {
  font-family: var(--fontI);
  font-variation-settings:
      "GARD" 0;
  font-optical-sizing: auto;
  font-style: normal;
}
a:hover {
  text-decoration: underline;
}
.siteNm {
  font-size: 1.3rem;
  font-weight: 800;
  font-family: var(--fontII);
  font-optical-sizing: auto;
  font-style: normal;
  color: indigo;
  display: block;
}
.fadeMove {
  animation: fadeIn 0.5s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeMoveI {
  animation: fadeOut 0.5s ease-in-out;
}
@keyframes fadeOut {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* MENU MENU MENU */
#mnBut {
  border: solid transparent;
  margin: 2px;
  font-size: 1.4rem;
  color: indigo;
}
#mnClBut {
  padding: 5px 20px;
  margin-top: 10%;
}
#me_nu {
  background: white;
  height: 100vh;
}
.mnImg {
  width: 10vw;
  margin-bottom: 60px;
  object-fit: cover;
}
#me_nu img {
  height: 50px;
  margin-left: 10px;
}
#me_nu span {
  font-size: 
}
#me_nu li {
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 10px;
  padding: 0 25px;
}
#me_nu li a {
  padding: 6px;
  width: 5px;
  color: #000;
}
#me_nu ul {
  width: 85%;
}



/* MENU FOR LARGE AND MEDIUM SCREENS */
/* MENU FOR LARGE AND MEDIUM SCREENS */
.lgScrMunuCont {
  position: relative;
  white-space: nowrap;
  border: 1px solid plum;
  height: 45px;
  background: rgba(15, 52, 212, 0.05);
}

.lgScrMenu {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  height: 100%;
  align-items: center;
}
.lgScrMenu li {
  padding: 20px 10px
}
.lgScrMenu li a {
  color: darkslateblue;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 7px;
}
.lgScrMenu li a:hover {
  color: black;
  font-weight: 800;
  border: 1px solid plum;
  border-radius: 25px;
}



/* CLASS 
.clSec {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 200px;
  width: 100%;
  margin-bottom: 10px;
  background-blend-mode: multiply;
  background-color: rgba(0,0,0,0.6);
  border-radius: 30px;
  display: flex;
  flex-direction: column
}
#onCl {
  background-image: url("https://unibenmte240.github.io/MTE240/asset/logo/onCl.webp");
}
#phyCl {
  background-image: url("https://unibenmte240.github.io/MTE240/asset/logo/phyCl.jpeg");
}
.clSec h1, .clSec h2 {
  color: plum;
  font-weight: 700;
  font-size: 1.8rem
}
.clSec i {
  font-size: 5.2rem;
  color: lightpink
}
.clSec i:hover {
  color: plum;
  transform: scale(1.1);
  transition: transform 1.1s ease
}
.clSec span {
    font-size: 1.8rem;
    font-weight: 700;
}
*/

/* ACESSING KOFA*/

  .guide-section .step p, .guide-section ul {
    margin-bottom: 1.5rem;
  }


/*UPLOADING OF DOCUMENTS 





/* PRE DEVELOPMENT STYLING */
/* PRE DEVELOPMENT STYLING */
/* PRE DEVELOPMENT STYLING */
/* PRE DEVELOPMENT STYLING */
.preInfo p b {
  font-size: 1.3rem;
  color: indigo;
}
.ftEnd a {
  color: indigo;
}
.ftEnd a:hover {
  text-decoration: underline
}

@media (min-width: 480px) {
  main {
    margin-top: 10rem;
  }
  .siteNm {
    font-size: 2rem;
  }
}



